<div class='list'>
  <button type="button" class="btn btn-primary add">新增</button>
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">排序</th>
      <th scope="col">书名</th>
      <th scope="col">作者</th>
      <th scope="col">出版时间</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
  <% list.forEach(function(item){%>
    <tr>
      <th scope="row">1</th>
      <td><%=item.bookName%></td>
      <td><%=item.author%></td>
      <td><%=item.creatTime%></td>
      <td><button type="button" class="btn btn-danger">删除</button></td>
    </tr>
    <% }) %>
  </tbody>
</table>
</div>