.list{
  margin: 10px 20px;
}
.list .add{
  margin: 10px 0;
}
.home{
  margin-top: 100px;
}
.home h1{
  text-align: center;
}
.notfind{
  text-align: center;
  margin-top: 100px;
}
.addForm{
  padding: 0 20px;
  margin-top: 20px;
}