<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="/imgs/demo.jpeg" type="image/x-icon" />
  <title>demo</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <% include ./nav.html%>
  <div class='list'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">排序</th>
          <th scope="col">图片</th>
          <th scope="col">名称</th>
          <th scope="col">价格</th>
        </tr>
      </thead>
      <tbody>
        <% goods.forEach(function(item,index){%>
        <tr>
          <th scope="row"><%=index%></th>
          <td><img width='100px' height='100px' src="<%= item.goodsDefaultImage %>" alt="Card image cap"></td>
          <td><%=item.goodsName%></td>
          <td><%=item.goodsFactoryPrice%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>