<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/timg.jpeg">
    <title>为你写诗</title>
    <style>
        #change {
            position: fixed;
            background: #de7927;
            border-radius: 40px;
            font-size: 12px;
            padding: 10px;
            z-index: 10;
            color: lawngreen;
            bottom: 30px;
            right: 30px;
        }
    </style>
</head>

<body>
    <p><%= data %></p>
    <a id='change' href="/poetry/12">change</a>
</body>

</html>